/*reset browser styles*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

ol {
	list-style: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* end reset browser styles */

body {
	font-family: 'Prompt', sans-serif;
	font-size: 17px;
	background-color: #f4f4f4;
}

.container {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	height: auto;
}
img {
  max-width: 100%;
  height: auto;
}

/************HEADER************/
section.first {
	background-image: url(img/header_back.png);
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	position: relative;
}

img.logo {
	position: absolute;
	left: 5%;
}

.row_black {
	background-color: #101010;
}

.row_white {
	background-color: #fff;
}

.header_top {
	display: flex;
	justify-content: space-around;
	height: 45px;
	font-size: 0.6rem;
	text-transform: uppercase;
	color: #858585;
	align-items: center;
}

.header_down {
	display: flex;
	height: 67px;
	justify-content: center;
	align-items: center;
}

.header_top_nav a {
	color: #858585;
	padding-right: 15px;
}

.header_top_info {
	margin-left: 30px;
}

.header_down_nav {
	margin-right: 200px;
}

.header_down_nav a {

	color: #000;
	font-weight: bold;
	border-right: 1px solid #aca9a9;
	padding: 20px 20px;
}

.header_down_nav a:hover {

	color: #ff6600;
	transition: color 1s ease;
}

img.search,
img.bag {
	border-right: 1px solid #aca9a9;
	padding: 23px 20px;
}

img.search {
	border-left: 1px solid #aca9a9;
}

.header_down_icons {
	position: relative;
	display: flex;
}

img.number {
	position: absolute;
	top: 15%;
	left: 80%;
}

/***********************************************/

img.logo_puma {
	display: block;
	margin: 110px auto;
	padding-bottom: 20px;
	border-bottom: 2px solid #ff6600;
}

.first h1 {
	color: #ffffff;
	font-size: 4.7rem;
	text-align: center;
	position: relative;
}

.first h1::before {
	content: " ";
	border: 0.5px solid #fff;
	width: 55px;
	position: absolute;
	top: 50%;
	left: 0;
}

.first h1::after {
	content: " ";
	border: 0.5px solid #fff;
	width: 55px;
	position: absolute;
	top: 50%;
	right: 0;
}

p.first_info {
	color: #cbcbcb;
	font-size: 1.18rem;
	text-align: center;
}

button.find_out {
	padding: 20px 0;
	padding-left: 30px;
	padding-right: 45px;
	background: none;
	color: #fff;
	margin: 80px auto;
	display: block;
	position: relative;
	max-width: 170px;
	font-size: 0.7rem;
}

button.find_out::after {
	content: " ";
	background-image: url(img/small_arrow.png);
	background-repeat: no-repeat;
	height: 9px;
	width: 6px;
	position: absolute;
	top: 40%;
	right: 10%
}

button.find_out:hover {
	border-color: #ff6600;
}

img.slide {
	display: block;
	margin: 0 auto;
}

/*********Watches and sneaker Article**************/
article.advt {
	display: flex;
	justify-content: center;
	margin-top: -40px;
	margin-bottom: 100px;
}

div.watches,
div.sneaker {
	width: 590px;
	height: 400px;
	display: flex;
	flex-direction: column;
}

div.watches {
	background-image: url(img/watches.png);
	background-repeat: no-repeat;

}

div.sneaker {
	background-image: url(img/sneaker.png);
	background-repeat: no-repeat;
}

div.watches p,
div.sneaker p {
	color: #fff;
	font-size: 2.9rem;
	font-weight: bold;
	line-height: 45px;

}

.watches_info,
.sneaker_info {
	width: 230px;
	margin: 45px 0 170px 38px;
}

.watches_link a,
.sneaker_link a {
	font-weight: 0.7rem;
	color: #fff;
	text-transform: uppercase;
	margin-left: 38px;

}

.watches_link_for_arrow1 a {
	padding-right: 25px;
}


div.watches_link_for_arrow1,
div.watches_link_for_arrow2,
div.sneaker_link {
	position: relative;
	display: inline;
}

.watches_link_for_arrow1 a::after,
.watches_link_for_arrow2 a::after,
.sneaker_link a::after {
	content: " ";
	background-image: url(img/small_arrow.png);
	background-repeat: no-repeat;
	height: 9px;
	width: 6px;
	position: absolute;
}

.sneaker_link a::after {
	top: 30%;
	left: 32%;
}

.watches_link_for_arrow1 a::after {
	top: 30%;
	left: 95%;
}

.watches_link_for_arrow2 a::after {
	top: 30%;
	left: 110%;
}

/********* BLOG**************************/
.blog_head h2 {
	font-size: 2.8rem;
	text-align: center;
}

.blog_head p {
	font-size: 1.2rem;
	color: #adadad;
	text-align: center;
}

article.blog_head {
	margin-bottom: 85px;
}

/*******sections************/
section.blog_row1,
section.blog_row2,
section.blog_row3,
section.blog_row4 {
	display: flex;
	background-color: #fff;
}

.blog_row1_1,
.blog_row1_2,
.blog_row2_1,
.blog_row2_2,
.blog_row3_1,
.blog_row3_2,
.blog_row4_1,
.blog_row4_2 {
	display: flex;
	position: relative;
}

.blog_row1_1_info {
	max-width: 295px;
	width: 100%;
	height: auto;
}

.blog_row1_1_info p {
	text-align: center;
	font-weight: bold;
	margin: 124px auto 30px;
	padding: 0 60px;
}

img.white_arrow{
	position: absolute;
	left: 50%;
	top: 45%;
}
img.white_arrow_left{
	position: absolute;
	right: 50%;
	top: 45%;
}
img.arrow_orange {
	display: block;
	margin: 0 auto;
}


/************button Read more********************/
.button_read {
	display: flex;
	align-items: center;
	justify-content: center;
}

article.button_read a {
	display: inline-block;
	margin: 70px auto;
	text-transform: uppercase;
	color: #8c8c8c;
	border: 2px solid #c4c4c4;
	padding: 20px 50px;
	font-weight: bold;
	font-size: 0.7rem;

}

article.button_read a:hover {
	border-color: #ff6600;
}

/********All brands**********************************/

.all_brands {
	background-image: url(img/footer_between_brand.png);
	background-repeat: no-repeat;
	background-position: 48% 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 80px 0;
}

/*******************Footer********************************/
footer {
	background-color: #000;
	max-height: 480px;
	height: 100%;
	position: relative;
}
img.rhombus{
	position: absolute;
	top: -6.5%;
	left: 47%;
}
.footer_row_1_logo img{
	margin-right: 35px;
}

.footer_row_1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 60px;
	padding-top: 50px;
}

.footer_row_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 140px;
	position: relative;
}

.footer_row1_nav_left nav a,
.footer_row1_nav_right nav a {
	color: #555555;
	margin-right: 20px;
	font-size: 0.8rem;
	font-weight: bold;

}

.footer_row1_nav_left nav a:hover,
.footer_row1_nav_right nav a:hover {
	color: #fff;
	padding-bottom: 10px;
	border-bottom: 2px solid #ff6600;
}

div.footer_row_2_icons::after {
	content: " ";
	width: 470px;
	border-bottom: 1px solid rgba(46, 46, 46, 0.5);
	position: absolute;
	top: 20%;
	right: 0;
}

div.footer_row_2_icons::before {
	content: " ";
	width: 470px;
	border-bottom: 1px solid rgba(46, 46, 46, 0.5);
	position: absolute;
	top: 20%;
	left: 0;
}

.footer_row_2_copyright p {
	color: #5c5c5c;
	/* grey */
	margin-top: 40px;
	font-size: 0.6rem;
}
/********************Media*query*************************/
@media (max-width: 1024px) {
	.header_top{
		justify-content: flex-end;
	}
	
	.header_top_nav{
		margin-left:  60px;
		margin-right: 100px;
	}
	.header_down{
		justify-content: center;
	}
	
	.header_down_nav a{
		font-size: 0.9rem;
		padding: 20px 15px;
		
		}
	.header_down_nav {
	margin-right: 120px;
		margin-left: 150px;
}
	.sneaker_link a::after {
	left: 37%;
}

	.blog_row1_1_info p {

	margin: 40px 10px;
	
}
	
	.blog_row1_img img{
		height: 100%;
		
	}
	.blog_row1_1 img{
		max-width: 100%
	}
}
